@{
  Layout = "_Layout";
}

@model DoctorsOffice.Models.Doctor

<div class="jumbotron">
  <h1>Add Doctor To Specialty here!</h1>
</div>

<h4>Assign @Html.DisplayFor(model => model.Name) to a Specialty:</h4>

@using (Html.BeginForm())
{
  @Html.HiddenFor(model => model.DoctorId)
  @Html.Label("Choose Specialty:")
  @Html.DropDownList("SpecialtyId")
  <br>
  <input type="submit" value="Add To Specialty" />
}