@{
  Layout = "_Layout";
}

@model DoctorsOffice.Models.Specialty

<div class="jumbotron">
  <h1>Are you sure you want to delete @Html.DisplayFor(model => model.SpecialtyName)?</h1>
</div>

@using (Html.BeginForm())
{
  <input type="submit" value="Delete" />
}