@{
  Layout = "_Layout";
}

@model DoctorsOffice.Models.Patient

<div class="jumbotron">
  <h1>Add a Patient here!</h1>
</div>

<h4>Assign @Html.DisplayFor(model => model.Name) to a Doctor:</h4>

@using (Html.BeginForm())
{
  @Html.HiddenFor(model => model.PatientId)
  @Html.Label("Choose Doctor:")
  @Html.DropDownList("DoctorId")
  <br>
  <input type="submit" value="Add To Doctor" />
}